.Weather {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	width: fit-content;
	position: relative;
	left: -10px;

	& img {
		--image-size: 65px;
		height: var(--image-size);
		width: var(--image-size);
	}

	.percipitation {
		min-height: 24px;
	}
}